 /* External CSS File */
body {
  background-color: #b5e5eb;
  font-family: Verdana, sans-serif;
}
h1 {
  color: #6b008b;
  text-align: center;
  text-decoration: underline;
}
p {
  color: #050232;
  font-size: 18px;
  text-align: center;
}
button {
  background-color: rgb(10, 228, 60);
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
}
