/* practice */
body{
    background-color: #fbc5c5;
    border : 5px solid rgb(9, 0, 0);
    margin : 10px 15px 20px 25px;
    padding : 10px 15px 20px 25px;

p{
    color: rgb(255, 0, 127);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    text-align : center;
    text-decoration: line-through ;
    margin:1px;
    padding:0 20px;
}

h1{
    color: red;
    text-align: center;
    font-size: 40px;
    font-family: 'Georgia', serif;
    margin:1px;
}
#a{
    color: lab(87.74% -86.18 83.18);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.b{
    color: blue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#bt1{
    background-color: yellow;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Console', 'Courier New', monospace;
    border: 2px solid black;
    border-radius: 2px;
}
.bt2{
    background-color: green;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Console', 'Courier New', monospace;
    border: 2px solid black;
    border-radius: 2px;
}