/* practice */
body{
    background-color: #95a7a2;
    border : 5px solid rgb(9, 0, 0);
    margin : 10px 15px 20px 25px;
    padding : 10px 15px 20px 25px;
}

p{
    color: rgb(253, 23, 176);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    text-align : center;
    text-decoration: line-through ;
    margin:1px;
    padding:0 20px;
}

h1{
    color: red;
    text-align: center;
    font-size: 40px;
    font-family: 'Georgia', serif;
    margin:1px;
}
#a{
    color: lab(33.35% 56.74 -10.19);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.b{
    color: rgb(48, 48, 208);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#bt1{
    background-color: yellow;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Console', 'Courier New', monospace;
    border: 2px solid black;
    border-radius: 2px;
}
.bt2{
    background-color: green;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Console', 'Courier New', monospace;
    border: 2px solid black;
    border-radius: 2px;
}